{% extends 'core/base.html' %}

{% block title %}Requests{% endblock %}

{% block content %}

{% for order_group in order_groups %}

    {% if order_group.1.count != 0 %}
    <h3>{{ order_group.0 }}</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Date to complete</th>
                <th scope="col">From storage</th>
                {% if is_multi_storage %}
                <th scope="col">To storage</th>
                {% endif %}
                <th scope="col">Status</th>
                <th scope="col">To order</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order_group.1 %}
        <tr>
            <th>{{ order.date_order }}</th>
            <th>{{ order.storage_from }}</th>
            {% if is_multi_storage %}
            <th>{{ order.storage_to }}</th>
            {% endif %}
            <th>{{ order.get_status_order_display }}</th>
            <th><a href="/orders{{ order.id }}">Detail</a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endfor %}

{% endblock %}