{% extends 'core/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}

{% for order_group in order_groups %}
<!--order_group.0 - name for order group-->
<!--order_group.1 - order group-->
    {% if order_group.1.count != 0 %}
    <h3>{{ order_group.0 }}</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col" >Date to complete</th>
                <th scope="col">From storage</th>
                <th scope="col">To storage</th>
                <th scope="col">Status</th>
                <th scope="col">To order</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order_group.1 %}
        <tr>
            {% if order.date_order <= day_diff_red %}
                <th style="color:red">{{ order.date_order }}</th>
            {% elif order.date_order <= day_diff_yellow %}
                <th style="color:yellow">{{ order.date_order }}</th>
            {% else %}
                <th style="color:green">{{ order.date_order }}</th>
            {% endif %}
            <th><a href="/storage/{{ order.storage_from.name_storage }}">{{ order.storage_from }}</a></th>
            <th><a href="/storage/{{ order.storage_to.name_storage }}">{{ order.storage_to }}</a></th>
            <th>{{ order.get_status_order_display }}</th>
            <th><a href="/orders/{{ order.id }}">Detail</a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endfor %}

{% endblock %}