{% extends 'core/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}

<form method="post" action="">
    <div class="input-group mb-3">
        {% csrf_token %}
        <h4>{{ order_form }}</h4>
        <h4>{{ order.status_order }}</h4>
    </div>
    <button type="submit" , name="save" , value="save" , class="btn btn-success">Save</button>
</form>

<form method="post" action="DR">
    {% csrf_token %}
    <button type="submit" , name="save" , value="save" , class="btn btn-success">Draft</button>
</form>

<form method="post" action="TD">
    {% csrf_token %}
    <button type="submit" , name="save" , value="save" , class="btn btn-success">To Do</button>
</form>

<form method="post" action="IP">
    {% csrf_token %}
    <button type="submit" , name="save" , value="save" , class="btn btn-warning">In Progress</button>
</form>

<form method="post" action="DN">
    {% csrf_token %}
    <button type="submit" , name="save" , value="save" , class="btn btn-success">Done</button>
</form>

<form method="post" action="L">
    {% csrf_token %}
    <button type="submit" , name="save" , value="save" , class="btn btn-danger">Lost</button>
</form>

<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Item</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for item_group in item_groups %}
    {% for request in order.order_request.all %}
    {% if request.item_in_request.group_item == item_group %}
    <tr>
        <th><img src="{{ request.item_in_request.image_item.url }}"
                 alt="{{ request.item_in_request.item_name }}" width="75" height="75"></th>
        <form method="post" action="../../item_request/{{request.id}}/">
            {% csrf_token %}
            <div class="input-group mb-3">
                <th><h6>{{ request.item_in_request }}</h6></th>
                <th><input id="amount_in_request" type="number"
                           name="amount_in_request" value="{{ request.amount_in_request }}" min="1" max="9999"></th>
                <th>
                    <button type="submit" , name="EditItem" , value="EditItem" ,
                            class="btn btn-success btn-sm">Edit Item
                    </button>
                </th>
                <th>
                    <button type="submit" , name="Delete" , value="Delete" ,
                            class="btn btn-danger btn-sm">Delete Item
                    </button>
                </th>
            </div>
        </form>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

<form method="post" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <h6>{{ request_form }}</h6>
        <button type="submit" , name="NewItem" , value="NewItem" , class="btn btn-success btn-sm">Add Item</button>
    </div>
</form>

{% endblock %}